<div id="backimageclient">
  <div id="jumbotronclient">
    <h1 class="mb-3 h2">IT Training</h1>
    <h3>Bienvenue</h3>
  </div>
  <div style="text-align: center">
    <a
      style="margin-top: 50px"
      class="btn btn-info btn-lg"
      routerLink="/theme"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Voir les formations et s'incrire à une session</a
    >
    <br />
    <a
      style="margin-top: 50px"
      class="btn btn-warning btn-lg"
      routerLink="/registration/0"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Entrée Administrateurs</a
    >
    <br />
    <a
      style="margin-top: 50px"
      class="btn btn-danger btn-lg"
      routerLink="/theme/admin"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Racourci Admin pour dev</a
    >
  </div>
</div>
<router-outlet></router-outlet>
