<p>instructor-admin works!</p>
<div id="backimage">
  <div id="jumbotron">
    <h1 class="mb-3 h2">IT Training</h1>
    <h3>Gestion des formateurs</h3>
  </div>
  <div class="container">
    <table class="table table-bordered table-hover table-light">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Telephone</th>
          <th>
            Action
            <a
              class="btn btn-info"
              routerLink="/formation/admin/insert"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Ajouter</a
            >
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let instructor of instructors">
        <tr>
          <td>{{ instructor.id }}</td>
          <td>{{ instructor.firstName }} {{ instructor.lastName }}</td>
          <td>{{ instructor.phoneNumber }}</td>
          <td>
            <a class="btn btn-info" ariaCurrentWhenActive="page">Editer</a>
            <button class="btn btn-warning">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
