<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link h5" routerLink="/theme/admin">Themes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" routerLink="/formation/admin">Formations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" routerLink="/session/admin">Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" routerLink="/instructor/admin">Formateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" routerLink="/evaluation/admin/session"
            >Evaluations</a
          >
        </li>
      </ul>
      <span class="navbar-text">
        <a class="nav-item mr-3 nav-link p-3" routerLink="/">👤Quitter</a>
      </span>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
