<div id="backimageclient">
  <div id="jumbotronclient">
    <h1 class="mb-3 h2">IT Training</h1>
  </div>
  <h2 class="text-center">Formulaire d'inscription</h2>
  <div class="row align-items-center" style="height: 20vh"></div>
  <div class="w-50 text-center"></div>
  <!-- <div class="w-50"></div> -->
  <div class="form-container d-flex justify-content-center">
    <form
      class="col-lg-6 card p-1 bg-light text-dark"
      [formGroup]="FormB"
      (ngSubmit)="onSubmit()"
    >
      <div class="input-group mb-3">
        <label for="username">Email</label>
        <input
          class="form-control"
          type="email"
          name="username"
          id="username"
          formControlName="username"
        />
      </div>
      <div
        ngIf="f['username'].touched && f['username'].invalid"
        class="alert alert-danger"
      >
        Veuillez fournir une adresse électronique valide
      </div>
      <div class="input-group mb-3">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary mb-3"
          [disabled]="!FormB.valid"
        >
          Se connecter
        </button>
      </div>
      <div>
        <a
          routerLink="/registration/{{ id }}/inscription-form"
          routerLinkActive="active"
          >inscrire</a
        >
      </div>
    </form>
  </div>
</div>
<!-- Affichage des données récupérées -->
<div ngIf="registeredUser">
  <h3>Utilisateur enregistré :</h3>
  <p>Email: {{ registeredUser.email }}</p>
  <!-- Ajoutez d'autres champs ici selon les données que vous souhaitez afficher -->
</div>

<router-outlet></router-outlet>
