<div id="backimageclient">
  <div id="jumbotronclient">
    <h1 class="mb-3 h2">IT Training</h1>
    <h3>Détail de la formation</h3>
  </div>
  <div class="container">
    <h3>Formation {{ training.title }}</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h3>Programme</h3>
        <p>{{ training.content }}</p>
      </li>
      <li class="list-group-item" *ngFor="let session of sessions">
        <h3>Prochaines sessions</h3>
        <a href="/registration/{{ session.id }}" class="btn btn-info mb-3"
          >s'inscrire</a
        >
        {{ session.startDate }} {{ session.address }}
      </li>
    </ul>
  </div>
</div>
