<div id="backimage">
  <div id="jumbotron">
    <h1 class="mb-3 h2">IT Training</h1>
    <h3>Détail de la formation</h3>
  </div>
  <div class="container">
    <h3>Formation {{ training.name }}</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h3>Programme</h3>
        <p>{{ training.detail }}</p>
      </li>
      <li class="list-group-item">
        <h3>Prochaines sessions</h3>
        <a href="#" class="btn btn-info">s'inscrire</a>
        03/12/2023 Adresse:
        <br />
        <a href="#" class="btn btn-info">s'inscrire</a>
        05/12/2023 Adresse:
        <br />
      </li>
    </ul>
  </div>
</div>
