<div id="backimage">
  <app-navbar></app-navbar>
  <div id="jumbotron">
    <h1 class="mb-3 h2">IT Training</h1>
    <h3>Gestion des formations</h3>
  </div>
  <div class="container">
    <table class="table table-bordered table-hover table-light">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>
            Action
            <a
              class="btn btn-info"
              routerLink="/formation/admin/insert"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Ajouter</a
            >
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let training of trainings">
        <tr>
          <td>{{ training.id }}</td>
          <td>{{ training.title }}</td>
          <td>{{ training.price }} €</td>
          <td>
            <a
              class="btn btn-info"
              routerLink="/formation/admin/edit/{{ training.id }}"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Editer</a
            >
            <button class="btn btn-warning" (click)="onDelete(training.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
