#backimage{
    background-image: url("/assets/img/istockphoto-1172811422-612x612.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
#jumbotron{
    background-image: url('/assets/img/image1.jpg');
    background-size: cover;
    padding: 5px;
    text-align: center;
}
#backimageclient{
    background-image: url('/assets/img/image1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
#jumbotronclient{
    background-image: url("/assets/img/istockphoto-1303821441-612x612.jpg");
    background-size: cover;
    padding: 5px;
    text-align: center;
}